@import "tailwindcss";
@plugin "daisyui";

/* 스크롤바 숨기기 */
/* Chrome, Safari, Edge */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE 10+ */
}
